@use "../../app//styles/variables.scss" as *;

.chat_container {
  height: calc(100vh - 110px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $light-green;
  color: $brown;
  align-items:center;
  justify-content: space-between;
  padding: 0 10px;
}

.header_title {
  margin: 0;
  font-size: 20px;
  padding: 16px;
  flex-grow: 1;
  text-transform: capitalize;
}

.messages_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #ffffff4d;
  border-top-color: $light-green;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.back_button {
  display: block;
  width: 50px;
  height: 50px;
  mask-image: url("../../../public/arrow.svg");
  mask-size: 25px 25px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $brown;
}
