.message_container {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.message_container--input {
  margin-left: 0;
  margin-right: auto;
  background-color: rgb(206, 118, 241);
}

.message_container--output {
  margin-right: 0;
  margin-left: auto;
  background-color: rgb(233, 241, 118);
}
