.container {
  width: 40%;
  margin: 0 auto;
}

.input{
  font: inherit;
  border: none;
  padding: 6px;
  margin:  10px auto;
  width: 100%;
}

.list{
  margin: 0 auto;
}

.user{
  display: block;
  background-color: #819491;
  padding: 10px;
  width: 100%;
}
