@use "../../app/styles/variables.scss" as *;

.container {
  height: 100%;
  padding: 59px 0;
  box-sizing: border-box;
}

.item_list {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.item {
  background-color: $light-green;
  margin-bottom: 10px;
  padding: 6px;
}
