@use "../../app/styles/variables.scss" as *;

.error_container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $light-brown;
  align-content: center;
}

.error_content {
  background-color: $light-green;
  border-radius: 15px;
  display: block;
  margin: 0 50px;
  padding: 30px;
  align-content: center;
}

.button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  margin: 10px;
  padding: 6px;
  box-sizing: border-box;

  &:hover,
  &:active {
    background-color: $dark-green;
  }
}
