.page {
  background-color: #bcd4d1;
  color: #1f0808;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }
}
