@use "./styles/variables" as *;

.navigation_list {
  padding: 0;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.navigation_item {
  display: block;
  list-style-type: none;
  background-color: $light-green;
  padding: 6px;
  margin: 10px;
  border-radius: 4px;
}

.navigation_link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
