@use "../../app/styles/variables.scss" as *;

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;

  &:hover,
  &:active {
    background-color: $dark-green;
  }
}
