@use "../../app/styles/variables.scss" as *;

.header_title {
  margin: 0;
  padding: 16px;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $light-green;
  color: $brown;
}

