@use "../../app/styles/variables.scss" as *;

.container {
  align-items: center;
  text-align: center;
  background-color: $light-green;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

.title {
  margin: 0 0 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 6px;
  font-family: inherit;
  font-size: 14px;

  ::placeholder{
    font-family: inherit;
  }
}

.button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  margin: 10px;
  padding: 6px;
  box-sizing: border-box;

  &:hover,
  &:active {
    background-color: $dark-green;
  }
}

.error_container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $light-brown;
  align-content: center;
}

.error_content {
  background-color: $light-green;
  border-radius: 15px;
  display: block;
  margin: 0 50px;
  padding: 30px;
  align-content: center;
}

