.container {
  align-items: center;
  text-align: center;
  background-color: rgb(177, 240, 202);
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 6px;
}

.message_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;

  form {
    flex-direction: row;
    height: 40px;
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      height: 28px;
      margin: 0;
      border: none;
    }

    button {
      height: 30px;
      border: none;
      width: 70px;
    }
  }
}
