.message_container {
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto 10px 0;
  background-color: rgb(233, 241, 118);
  text-align: left;
  width: fit-content;
}

.message_container_my_message {
  width: fit-content;
  text-align: right;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0 10px auto;
  background-color: rgb(206, 118, 241);
}

.message_body {
  margin: 0;
}

.message_time {
  font-size: 10px;
}


.container {
  align-items: center;
  text-align: center;
  background-color: rgb(177, 240, 202);
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 6px;
}

.form_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;

  form {
    flex-direction: row;
    height: 40px;
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      height: 28px;
      margin: 0;
      border: none;
    }

    button {
      height: 30px;
      border: none;
      width: 70px;
    }
  }
}
