.message_container {
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto 10px 0;
  background-color: rgb(233, 241, 118);
  text-align: left;
  max-width: fit-content;
  overflow-wrap: break-word;
}

.message_container_my_message {
  max-width: fit-content;
  overflow-wrap: break-word;
  text-align: right;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0 10px auto;
  background-color: rgb(206, 118, 241);
}

.message_body {
  margin: 0;
}

.message_time {
  font-size: 10px;
}

.form_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}

.form {
  flex-direction: row;
  height: 40px;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  height: 28px;
  margin: 0;
  border: none;
}

.button {
  height: 30px;
  border: none;
  width: 70px;
}
